body {
  font-family: Arial, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}

h5, h6 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

p {
  font-size: 0.9em;
  color: #333;
}

.font-weight-light {
  font-weight: 300;
}


.half-background {
  position: absolute;
  top: 0;
  left: -60px;
  width: 115%; /* Adjust to control how much of the background is covered */
  height: 70%;
  background-color: black; /* Set the background color */
  z-index: 0;
}
.custom-container {
  max-width: 60%;
}

@media (max-width: 768px) {
  .custom-container {
    max-width: 100%;
  }
}
